{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}
{% block styles %}

    * {
        box-sizing: border-box;
      }
  
      body{
        display: flex;
        padding: 0;
        margin: 0;
        background-color: gainsboro;
        flex-direction: column;
        gap: 10px;
      }
  
      nav {
        padding: 10px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
        background-color: blue;
        display: flex;
        flex-grow: 1;
        box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.31);
      }
  
      thead{
        border-bottom: 1px solid black;
      }
  
      main{
        margin-right: auto;
        margin-left: auto;
        width: 95vw;
        display: flex;
        flex-grow: 10;
        flex-direction: column;
        gap: 5px;
      }
  
      section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;      
      }
  
  
      .card{
        border-radius: 2px;
        background-color: white;
        font-size: 0.7em;
        padding: 8px;
        box-shadow: -11px 9px 5px -4px rgba(0,0,0,0.31);
        border: 1px solid gainsboro;
      }
  
      button{
        border: 1px solid grey;
        padding: 5px;
        border-radius: 5px;
      }
  
  
  
      tr:nth-child(even){background-color: #f2f2f2;}
  
      button:hover{
         background-color: white;
      }
  
      article{
        display: flex;
        flex-direction: row;
      }
      
      aside{
        display: flex;
        flex-grow: 2;
        background-color: white;
        flex-direction: column;
      }
      
      .scrollable{
        display:flex;
        flex-grow: 4;
        max-height: 80vh;
        overflow-y:scroll;
      }
      
      table{
        border-collapse: collapse;
        width: 100%;
      }
    
      thead, th{
        background-color: blue;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
      }
    
      td {
        font-size: 1.5em;
        text-align: center;
      }
    
      tr:hover {
        background-color: #ddd;
      }
    
      img{
        height: 100px;
      }
  
      thead button {
        height: 20px;
        font-size: 10px;
        font-weight: bold;
      }
  
  
{% endblock %}

{% block content %}
    
    
        
    
        <nav>
          Amiibo App
        </nav>
      
      <main>
        <h1>Flask MVC</h1>
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
        <section class="card">
          <button onclick="filterBySeries('Animal Crossing')">
            Animal Crossing
          </button>
      
          <button onclick="filterBySeries('Breath of the Wild')">
            Breath of the Wild
          </button>
      
          <button onclick="filterBySeries('Super Mario')">
            Super Mario
          </button>
      
          <input type="search" id="searchKey" placeholder="search name">
          <button onclick=search()>Search</button>
      
        </section>
      
        <article>
          <div class="scrollable">
             <table class="card">
               <thead>
                  <tr>
                   <th>Name <button onclick="sortByName()">Sort</button> </th>
                   <th>Series</th>
                   <th>Image</th>
                   <th>Release</th>
                   <th>Action</th>
                 </tr>
               </thead>
               <tbody id="result">
               </tbody>
             </table>
          </div>
          
          <aside>
            <h1>Supported Games For <span id="character"></span></h1>
            <ul id="games"></ul>
          </aside>
        </article>
        
      </main>
      
      
          {% endblock %}


   
